*.yml
__pycache__/
.vscode/
cifar10/
data/
assets/
lisaOutput/
lisaResults/
samples_VAE/
VAE_logs/
samples_GAN/
GAN_logs/
NF_logs/
runs/
results/
saved_model/
numpy_comparison.txt
pytorch_comparison.txt
*.zip
*.png
*.ipynb
*.job
.ipynb_checkpoints/
